#webcam {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #666;
}

text {
    color:green;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 40px;
    position: relative;
    float: left;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}


#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.boxed {
    border: 1px solid green ;
    background-color: rgba(255, 255, 255, 0.3) ;
}