#webcam {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #666;
}

text {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    position: relative;
    float: left;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    line-height: 10px;
}

grn {
    color: #950000;
}


#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.boxed {
    border: 4px solid #950000;
    background-color: rgba(255, 255, 255, 0.6) ;
    padding: 20px 20px 20px 20px;
}

#output {
    position: fixed;
    top: 0;
    left: 0;
}

#capture {
    position: fixed;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
}

