#VIDEO {
    z-index: -2;
    position: fixed;
    right: -350px;
    top: -100px;
    width: 150%;
    height: 120%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    float: left;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    line-height: 10px;
}


biggy {
    font-size: 26px;
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#logoWhite {
    position: fixed;
    top: 90px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%);
}

#b1 {
    top: 340px;
}

#b2 {
    top: 440px;
}



.myButton {
    background-color:transparent;
    -moz-border-radius:35px;
    left: 50%;
    -webkit-border-radius:35px;
    border-radius:35px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:28px;
    vertical-align: top;
    position: fixed;
    padding:18px 31px;
    text-decoration:none;
    transform: translate(-50%);
}
.myButton:hover {
    background-color:rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease;
   /*vertical-align: top;*/

}

.boxed {
    border: 4px solid #950000;
    background-color: rgba(255, 255, 255, 0.6) ;
    padding: 20px 20px 20px 20px;
}

#output {
    position: fixed;
    top: 0;
    left: 0;
}

#capture {
    position: fixed;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
}

blue {
    color: #00FFFF;
}

white {
        color: #FFFFFF;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    float: left;
    top: 550px;
    left: 75%;


}

.cal {color: #fff;}